name: Auto-Preprocess Dataset
on: [push]
jobs:
  preprocess:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - run: pip install -r requirements.txt
    - run: python preprocessing/automate.py
    - uses: actions/upload-artifact@v4
      with:
        name: preprocessed-data
        path: preprocessing/breast_preprocessed*.csv